{
    "api": "{{ TAIGA_SCHEME }}://{{ TAIGA_HOSTNAME }}/api/v1/",
    "eventsUrl": null,
    "debug": {{ DEBUG.lower() }},
    "debugInfo": false,
    "defaultLanguage": "{{ TAIGA_DEFAULT_LOCALE }}",
    "publicRegisterEnabled": false,
    "gravatar": false,
    "feedbackEnabled": true,
    "privacyPolicyUrl": null,
    "termsOfServiceUrl": null,
    "maxUploadFileSize": null,
    {% if TAIGA_LDAP.lower() == 'true' %}"loginFormType": "ldap",{% endif %}
    {% set comma = joiner(",") %}
    "importers": [
        {% if TAIGA_IMPORTER_GITHUB_ENABLED.lower() == 'true' %} {{ comma() }} "github" {% endif %}
        {% if TAIGA_IMPORTER_TRELLO_ENABLED.lower() == 'true' %} {{ comma() }} "trello" {% endif %}
        {% if TAIGA_IMPORTER_JIRA_ENABLED.lower() == 'true' %} {{ comma() }} "jira" {% endif %}
        {% if TAIGA_IMPORTER_ASANA_ENABLED.lower() == 'true' %} {{ comma() }} "asana" {% endif %}
    ],
    "contribPlugins": [
        {{ FRONTEND_CONTRIB_PLUGINS_LIST }}
    ]
}
